/** 
 * Adan J. Suarez
 * adanjsuarez@gmail.com
 * Full Stack Home-Project 
 */

.App-div {
    font: sans-serif;
}
#Image-spinning {
    height: 70px;
    opacity: 0.6;
    animation: zen-spinning infinite 500ms linear;
    position: relative;
    top: 30%;
    left: 925px;
    
}
@keyframes zen-spinning {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 
.Name {
    font: 'arial';
    font-size: 40px;
    color: black;
    text-align: center;
}
#Reload-button {
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 0%;
    left: 46.5%;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
}
#Reload-button:hover {
    background-color: brown;
}
#Loading {
    text-align: center;
}
#sudoku-component {
    position: relative;
    top: 25px;
    left: 35%;
}
.Table {
    /* display: inline-block; */
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}
.td {
    padding:0px;
    margin: 0;
}
.Element {
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-style: bold;
    background-color: white;
    display: inline-block;
    padding: 5px;
    border: 2px solid grey;
}
.Element:hover{
    background-color:orange;
}
.Element:focus {
    pointer-events: auto;
    font-size: 30px;
    border: 2px solid grey;
    background-color: grey;
    width: 50px;
    height: 50px;
}
.ElementSelected {
    pointer-events: auto;
    font-size: 30px;
    text-align: center;
    border: 2px solid grey;
    background-color: white;
    width: 50px;
    height: 50px;
}
.ElementSelected:hover{
    background-color:orange;
}
#div-Header {
    height: 100px;
    position: relative;
    text-align: center;
    line-height: 6em;

    color: white;
    background-color: darkslategray;
}
#Title {
    height: 50px;
}
.div-numbers {
    /* width:50px; */
    float: left;
    position: relative;
    top: 25px;
    left: 34.6%;
}
.Element-to-select {
    height: 50px;
    width: 52px;
    font-size: 30px;
    font-style: bold;
    background-color:wheat ;
    display: inline-block;
    padding: 5px;
    border: 2px solid grey;
}
/* .Element-to-select:hover {
    background-color: orange;
} */
.Element-to-select:focus {
    pointer-events: auto;
    font-size: 30px;
    border: 2px solid grey;
    background-color: grey;
    width: 50px;
    height: 50px;
}
.Division-between-lines {
    height: 2px;
}
.Division-horizontal {
    width: 2px;
}