/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

.Image-spinning {
  height: 50px;
  opacity: 0.6;
  animation: zen-spinning infinite 500ms linear;
}
@keyframes zen-spinning {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 

.App {
  text-align: center;
  margin: 20px;
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Name {
  color: red
}
.Table {
  /* display: inline-block; */
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}
.td {
  padding:0px;
  margin: 0;
}
.Element {
  display: inline-block;
  /* position: relative; */
  padding: 5px;
  border: 2px solid grey;
}
Element:hover{
  background-color:white;
  color:black;
}